<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pomofocus Terms and Conditions</title>
</head>
<body>
<link rel="stylesheet" href="{{ url_for('static',filename="pomo.css") }}">
<div class="encompass-low">
<div class="aitzaz-work">
  <h1>Terms and Conditions</h1>
  <p><strong>Last Updated:</strong> September 8, 2023</p>

  <p>Please read these Terms and Conditions carefully before using our services.</p>

  <h2>Acceptance of Terms</h2>
  <p>By using the Pomofocus website, you agree to comply with and be bound by these Terms and Conditions.</p>

  <h2>Changes to Terms</h2>
  <p>We reserve the right to change, modify, or revise these Terms at any time. Any changes will become effective immediately upon being posted on this page.</p>

  <h2>Use of Pomofocus</h2>
  <ul>
    <li>You may use Pomofocus for personal, non-commercial purposes.</li>
    <li>You may not reverse-engineer, decompile, or disassemble any part of the website.</li>
    <li>You may not use Pomofocus for any illegal activities.</li>
  </ul>

  <h2>Limitation of Liability</h2>
  <p>In no event shall Pomofocus or its affiliates be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from:</p>
  <ul>
    <li>Your access to or use of or inability to access or use the Service;</li>
    <li>Any unauthorized access to or use of our servers and/or any personal information stored therein.</li>
  </ul>

  <h2>Contact Us</h2>
  <p>If you have any questions about these Terms and Conditions, please contact us by sending an email to: <a class="a1" href="mailto:support@pomofocus.io">support@pomofocus.io</a></p>

          <footer>
           <div class="footer-styling" style="text-align: center;">
             <a href="{{ url_for('home') }}">HOME</a>
             <a href="/privacy">PRIVACY</a>
             <a href="/terms">TERMS</a>
             <a href="/commerce">COMMERCE</a>
             <a href="/contact">CONTACT</a>
             <a href="/simple">SIMPLE PAGE</a>
           </div>
           <div style="text-align: center;">
              <a href="https://www.facebook.com/pomofocus">
              <img src="{{ url_for('static',filename='facebook.png')}}" alt="facebook">
           </a>
           <a href="https://twitter.com/pomofocus">
              <img src="{{ url_for('static',filename='twitter.png')}}" alt="twitter">
           </a>
           <a href="https://climate.stripe.com/kfwPBZ">
              <img src="{{ url_for('static',filename='stripe-climate-badge.png')}}" alt="pic3">
           </a>
           <h3>Made with <3 by Faique, Ahsan, Aitazaz and Shehzil</h3>
           <h3>© Pomofocus 2024. All Rights Reserved.</h3>
        </div>
        </footer>
</div></div>
</body>
</html>
